<div class="user-details-container"
  ><img
    [attr.alt]="imageAlt"
    [attr.src]="imageSrc"
    class="user-details-image"
  /><div class="user-details-container1"
    ><span class="user-details-text TextSM">{{ name }}</span
    ><div class="user-details-container2"
      ><span class="user-details-text1 TextXS"
        >Published <span [innerHTML]="raw64l5"></span></span
      ><span class="user-details-text2 TextXS">{{ time }}</span
      ><span class="user-details-text3 TextXS">ago</span></div
    ></div
  ></div
>
